**Practical No. 1-C: Create or Explore datasets to use all pre-processing routines like label encoding, scaling, and binarization**

---

**Label Ecoding**

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/DataSet ML/iris.csv')
print(df['species'].unique())
# print(df)

['setosa' 'versicolor' 'virginica']

**categorical value will replace with the numerical value[int]**

In [2]:

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['species']= label_encoder.fit_transform(df['species'])#Label in column 'species'
df['species'].unique()

array([0, 1, 2])

**Binarization**

In [3]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.preprocessing import Binarizer


data = load_iris(as_frame=True)#Loading dataset
# df = pd.DataFrame(data.data, columns=data.feature_names)
df = data.frame
# df['species'] = data.target
df['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

**After Applying Binarization**

In [4]:

binz = Binarizer(threshold=5)
df['sepal length (cm)'] = binz.fit_transform(df[['sepal length (cm)']])
df['sepal length (cm)']

0      1.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    1.0
146    1.0
147    1.0
148    1.0
149    1.0
Name: sepal length (cm), Length: 150, dtype: float64